@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* border: 2px solid; */
}
.bg{
  background:url("./images/Bg-Image.png");
  height: 100vh;
  background-size: cover;
}
.home-page{
  
  display: flex;
  align-items: center;
  justify-content: center ;
  
}
.home-content{
  height: 100vh;
  width: 30%;
}
.home-title{
  color: #fff;
  font-weight: 900;
}
.home-logo img{
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.home-slogan span{
  font-size: 38px;
  font-weight: 500;
  color: #fff;

}
.doner-btn{
  background: #fff;
  color: #000;
  width: 50%;
  border-radius: 40px 0 40px 40px; 
  cursor: pointer;
}
.home-btns span{
      background:rgba(26, 25, 25, 0.685);
      border-radius: 40px 0 40px 40px; 
}
.home-btns span img{
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.Navigation{
  background: #fff;
}
.Navigation img{
  height: 130px;
  width: 130px;
  object-fit: cover; 
}
.navbar ul li{
  list-style: none;
  color: #000;
  cursor: pointer;
}
.dropdown-content{
  height: 80vh;

}
.dropdown-content span{
      font-size: 24px;
      color: #fff;
      letter-spacing: 4px;
}
.selectcity{
 width: 100%;
 outline: none;
 background: transparent;
 color: #fff;
 border: none;
 border-bottom: 2px solid #fff;
 font-size: 24px;
 padding: 10px 0px;
}
.selectcity option{
  background:rgba(26, 25, 25, 0.685);

}
.next-btn {
  background:rgba(26, 25, 25, 0.685);
  

}
.next-btn span{
  color: white;
  font-size: 14px;
}
.next-btn{
  background:transparent;
  color: #000;
  width: 50%;
}
.next-btn span{
  background:rgba(26, 25, 25, 0.685);
  border-radius: 40px 0 40px 40px; 
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
}
.back-btn{
  background: transparent!important;
  color: #fff!important;
}
.display-content{
  height: 78vh;
}
.display-content{
  color: #fff;
}
.table{
  --bs-table-bg: transparent!important;
  --bs-table-color: #fff!important;
}